<h1>Welcome <%=@user.name.capitalize%></h1> <a href="/users/index">Newsfeed</a>

<head>
<script type="text/javascript" src="scripts/soundcloud.player.api.js"></script>
<script type="text/javascript">
   soundcloud.addEventListener('onPlayerReady', function(player, data) {
     player.api_play();
   });
</script>
</head>

<h3>Bio</h3>
<%=@user.name.capitalize%>'s email: <%=@user.email%><br>
Description of <%=@user.name%>: <%=@user.description%>

<h3>Instruments</h3>

<h3>Upcoming shows</h3>


<body>
  <object height="40" width="50%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
</object>
</body>



<p>your bands</p>
<div style="height: 120px;width:120px; border:1px solid#ccc;font:16px/26px Georgia, Serif;overflow:auto;">

 </div>

<a href="/bands/new">Register a new band</a>
