<% form_for @bandsmembers do |f| %>
<p>
<%= f.label :name %>
<%=f.text_field :name %>
</p>

<p>
<%= f.label :band %>
<%= f.text_field :band%>
</p>

<p>
<%= f.label :instruments%>
<%= f.text_field :instruments%>
</p>
<%end%> 
